@import '../../styles/variables.scss';

.track-box.box {
  background-color: transparent;
  color: white;
  box-shadow: none;
  padding: .75rem;

  &:hover {
    background-color: white;
    color: $primary;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    strong {
      color: $primary;
    }
  }

  &.is-playing {
    .track-preloader {
      display: block;
    }
    img {
      opacity: .3;
    }
  }

  strong {
    color: white;
  }

  .track-preloader {
    display: none;
    position: absolute;
    top: 24px;
    left: 0;
  }
  
  .track-preloader span{
      display:block;
      bottom:0px;
      width: 5px;
      height: 4px;
      background:#9b59b6;
      position:absolute;
      -webkit-animation: preloader_1 1.3s  infinite ease-in-out;
      -moz-animation: preloader_1 1.3s  infinite ease-in-out;
      animation: preloader_1 1.3s  infinite ease-in-out;
  }
   
  .track-preloader span:nth-child(2){
    left:10px;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    animation-delay: .2s;
  }
  
  .track-preloader span:nth-child(3){
    left:20px;
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    animation-delay: .4s;
  }
  
  .track-preloader span:nth-child(4){
    left:30px;
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    animation-delay: .6s;
  }
  
  .track-preloader span:nth-child(5){
  left:40px;
  -webkit-animation-delay: .8s;
  -moz-animation-delay: .8s;
  animation-delay: .8s;
  }
  
  @-moz-keyframes preloader_1 {
      0% {height:5px;transform:translateY(0px);background:#9b59b6;}
      25% {height:30px;transform:translateY(15px);background:#3498db;}
      50% {height:5px;transform:translateY(0px);background:#9b59b6;}
      100% {height:5px;transform:translateY(0px);background:#9b59b6;}
  }
  
  @-webkit-keyframes preloader_1 {
      0% {height:5px;transform:translateY(0px);background:#9b59b6;}
      25% {height:30px;transform:translateY(15px);background:#3498db;}
      50% {height:5px;transform:translateY(0px);background:#9b59b6;}
      100% {height:5px;transform:translateY(0px);background:#9b59b6;}
  }
  
  @keyframes preloader_1 {
      0% {height:5px;transform:translateY(0px);background:#9b59b6;}
      25% {height:30px;transform:translateY(15px);background:#3498db;}
      50% {height:5px;transform:translateY(0px);background:#9b59b6;}
      100% {height:5px;transform:translateY(0px);background:#9b59b6;}
  }
}