$family-sans-serif: 'Nunito', sans-serif;
$grey-dark: #757763;
$grey-light: #d0d1cd;
$primary: #571cdb;
$link: #69e8ab;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: #172945;