.modal.modal-artist {
  cursor: auto;

  .modal-content {
    width: 50%;
    background-color: white;

    .hero {
      background-repeat: no-repeat;
      background-size: inherit;
      background-position: center right;
  
      .hero-body {
        background-color: #0000008c;
      }
    }

    .top-tracks-section {
      background-color: #172945;
    }
  }
  
  .modal-close {
    background-color: black;
  }
}