@import '../../assets/styles/variables.scss';

.search.is-custom.control {
  input {
    border-color: $primary;
    background-color: transparent;
    color: $primary;
    border-radius: 290486px;

    &:focus {
      box-shadow: 0 0 0 0.125em rgba(87, 28, 219, 0.25);
      color: white;
      border-color: white;
    }
  
    &::placeholder {
      color: $primary;
    }
  }

  .input:focus ~ .icon {
    color: white;
  }

  .icon {
    color: $primary;
  }
}